<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flying_heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{212,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,73}}</string>
                <key>sourceSize</key>
                <string>{212,73}</string>
            </dict>
            <key>flying_heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,98},{135,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,76}}</string>
                <key>sourceSize</key>
                <string>{135,76}</string>
            </dict>
            <key>flying_heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,77},{175,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,85}}</string>
                <key>sourceSize</key>
                <string>{175,85}</string>
            </dict>
            <key>flying_heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,77},{157,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,130}}</string>
                <key>sourceSize</key>
                <string>{157,130}</string>
            </dict>
            <key>flying_heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{153,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,144}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
            <key>flying_heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,94}}</string>
                <key>sourceSize</key>
                <string>{223,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flying_heart.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a67794fd145c379e1f1a4d2999b8e0$</string>
            <key>textureFileName</key>
            <string>flying_heart.png</string>
        </dict>
    </dict>
</plist>
